/* Savana Mongkhonvilay 7/13/25  */
  
/* added text wrapping so text doesn't over flow off of page 
Had difficulty adding it to the container, so I added to the h1 
element itself and it fixed the issue  */

/* also added some styling for the color picker */
html {
    color: black;
    font-family: sans-serif;
 }
 
 body {
    margin: 0;
  }

  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80vw;
    margin: 0 auto;
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  h1 {
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 100px;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

.colors {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3); 
}

.colors div {
  display: block;
  margin-bottom: 5px;
}
